---
import LinkButton from "./LinkButton.astro";
---

<div class="flex flex-col items-center justify-center gap-y-4 text-center [&>p>strong]:text-yellow-500">
  <h2 class="text-3xl font-bold text-gray-800 dark:text-gray-100">
    
  </h2>
  <img
    src="/projects/cajeros.png"
    alt="Desarrollador de software trabajando en un proyecto"
    class="w-full h-64 object-cover rounded-lg shadow-md"
  />
  <p class="text-gray-600 dark:text-gray-400 mt-4">
    Como Junior Software Developer en Sepalo Software, participé en la <strong>implementación de ciberkioscos en diversas localidades de España</strong>, 
    acercando la administración al ciudadano. Estos ciberkioscos permiten a los usuarios realizar trámites municipales , sin necesidad de acudir al centro de la ciudad
    ofreciendo servicios como <strong> emisión de certificados de empadronamiento,</strong> pago de <strong>impuestos y tasas...</strong>
</p>
<p class="text-gray-600 dark:text-gray-400 mt-2">
    En este proyecto, trabajé con <strong>Git, GitLab y JIRA</strong>, enfocándome en el control de versiones y metodologías ágiles. Desarrollé APIs RESTful y gestioné datos con
     <strong>JSON y POSTMAN.</strong>
</p>
<p class="text-gray-600 dark:text-gray-400 mt-2">
    Además, tengo experiencia en desarrollo de Android utilizando Kotlin y patrones como MVC y MVVM, con JWT para autenticación. 
    Mi formación incluye habilidades en ASP.NET MVC, Java, C# y diseño de bases de datos. También he trabajado con Angular, JavaScript, HTML/CSS,
     con un sólido dominio del inglés técnico.
</p>
<a href="https://sepalo.es/category/quioscos-y-cajreos/">Sepalo Software</a>
</div>
